body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* resta altura del header */
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p {
    margin: 10px 0 5px;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #4facfe;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3b8fd8;
}

.resultado {
    margin-top: 15px;
    text-align: center;
    color: green;
    font-weight: bold;
}